.mainCointainer {
    max-width: 1200px;
    margin: auto;
    padding: 0px;


}

/* css reset  */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Cervo Neue Black, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: white;
}

/* navigation stying  */
header {
    background: #0065c3;
    position: sticky;
    top: 0px;
    z-index: 1;

}

nav ul {
    display: flex;
    list-style-type: none;
    height: 100px;
    align-items: center;
    position: relative;
}

nav li {
    margin-left: 20px;
}

nav li img {
    margin-right: 30px;
    cursor: pointer;
}

nav li a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-family: Sofia Pro Black, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-shadow: 2px 2px 2px rgba(red, green, blue, alpha);
}


.navButton {
    position: absolute;
    right: 5px;
    top: 25px;
    padding: 12px 10px;
    cursor: pointer;
}

/* main section */
.section {
    width: 100%;
    height: 700px;
    background: lightblue;
    display: flex;
}

.section1 {
    background: url(./assets/images/sec-1-bg.png) center;
    background-size: cover;


}

.section1 .right-box:nth-child(2) {
    padding: 22px 0px;


}

.container {
    width: 100%;
    height: 100%;
    display: flex;

    /* border: 2px solid green; */
}

.left {
    max-width: 50%;
    flex: 50%;
    /* background: red; */


    position: relative;

}

.left .section1img {
    width: 125%;
    height: 80%;
    position: absolute;
    bottom: 0px;
}

.right {
    max-width: 50%;
    flex: 50%;
    /* background: yellow; */
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.right-box p {
    text-align: center;
    margin: 0 50px;
    color: white;
    font-size: 12px;
}

.section2 {
    background: url(./assets/images/sec2-bg.webp) center;
    background-size: cover;
}

.rightSec2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    justify-content: space-evenly;
    position: relative;
}

.rightSec2Box:nth-child(3) {
    display: flex;
    justify-content: center;
    gap: 15px;
    /* position: absolute; */
    /* bottom: 0px; */
}

.rightSec2Box:nth-child(4) {
    display: flex;
    justify-content: space-between;
    color: white;
    width: 60%;
}

.rightSec2Box {
    font-size: 12px;
}

.section2img {
    width: 140%;
    height: 100%;
}

.section3 {
    background: url(./assets/images/sec3-bg.png) center;
    background-size: cover;
}

.sec3leftside {


    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 100px;
}

.section5 {

    background: url(./assets/images/7.png), url(./assets/images/9.png), url(./assets/images/8.png), url(./assets/images/10.png);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 45% 30%, 30%, 70% 100%, cover;
    background-position: 10% 15%, 8% 92%, 100% 100%, 0% 0%;
    position: relative;
}

.section5::before {
    content: "";
    background-color: #0065c3;


    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -5;

}

.section7 {
    background: url(./assets/images/sec7-bg.jpg) center;
    background-size: cover;
}

.rightsec {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightsec img {
    width: 70%;
}

.section8 {
    background: url(./assets/images/sec-8-bg.png) center;
    background-size: cover;
}

.section9 {
    width: 100%;
    height: 250px;
}

.section9 h2 {
    text-align: center;
}

.sec9Container {
    display: flex;
    flex-wrap: wrap;


    justify-content: center;
}

.sec9Container .item {
    flex: 17%;
    max-width: 17%;


}

footer {
    height: 400px;
    width: 100%;
    background: #0065c3;
    color: white;
}

.footerContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    position: relative;
    right: 50px;
}

.footerContainer ul {
    list-style-type: none;
}

.footerContainer ul li {
    margin-bottom: 5px;
    font-family: Cervo Neue Black, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: bolder;
}

.footerContainer ul li:hover {
    color: ;
}

.socailIcon {
    display: flex;
    gap: 10px;

}

.socailIcon img {
    width: 40px;
}

.item {
    position: relative;
}

.item img:last-child {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 20%;
}

/* responsive design */
/* @media (max-width: 800px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .left,
    .right {
        flex: 100%;
        max-width: 100%;
    }
} */
/* utlity classes */
.btn {
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 20px;
    background: #0065c3;
    color: white;
    border: 2px solid white;
    text-transform: uppercase;
}